* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

#root {
  width: 100%;
  background-color: #ffffff;
}

@font-face {
  font-family: primary;
  src: url(./assets/fonts/Rubik/static/Rubik-Black.ttf);
}
@font-face {
  font-family: secondary-regular;
  src: url(./assets/fonts/San-Francisco-Pro/SFProText-Regular.ttf);
}
@font-face {
  font-family: secondary-bold;
  src: url(./assets/fonts/San-Francisco-Pro/SFProText-Bold.ttf);
}
@font-face {
  font-family: secondary-semibold;
  src: url(./assets/fonts/San-Francisco-Pro/SFProText-Semibold.ttf);
}
@font-face {
  font-family: secondary-medium;
  src: url(./assets/fonts/San-Francisco-Pro/SFProText-Medium.ttf);
}
