.footer-container {
  height: 300px;
  background-color: #151921;
  color: #fff;
  padding: 0 32px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
  width: 1380px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

.footer-logo {
  width: 300px;
  height: 91px;
  fill: #fff;
}

.footer-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
}

.footer-nav-options {
  display: flex;
}

.footer-nav-options .navigation-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  font-family: secondary-medium;
}

.footer-nav-options a {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.footer-nav-options a:hover {
  color: #fd9f41;
}

.footer-contacts-item a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease-in-out;
}

.footer-contacts-item a:hover {
  color: #fd9f41;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-contacts-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: secondary-regular;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 16px;
  font-family: secondary-medium;
  align-items: center;
}

.footer-phone-icon,
.footer-mail-icon,
.footer-facebook-icon {
  fill: #fd9f41;
  width: 24px;
  height: 24px;
}

.footer-fingerprint-container {
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  width: fit-content;
  overflow: hidden;
}

.footer-fingerprint-icon {
  width: auto;
  height: 100%;
}

.footer-animation-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-line {
  display: none;
}

@media screen and (max-width: 1380px) {
  .footer-container {
    width: calc(100% - 60px);
    max-width: 1380px;
    margin: 0 30px;
    height: 200px;
  }
  .footer-logo {
    width: 200px;
    height: 60px;
  }
  .footer-nav-options .navigation-options {
    font-size: 16px;
  }
  .footer-contacts-title {
    font-size: 16px;
  }
  .footer-fingerprint-container {
    width: 140px;
    height: 200px;
  }
  .footer-fingerprint-icon {
    width: 140px;
    height: 200px;
  }
}

@media screen and (max-width: 1025px) {
  .footer-nav-options .navigation-options {
    font-size: 14px;
  }
  .footer-contacts-title {
    font-size: 14px;
  }
  .footer-contacts-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 769px) {
  .footer-container {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    padding: 24px 25px;
  }
  .footer-animation-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .footer-content {
    min-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav-options {
    width: 100%;
  }
  .footer-nav-options .navigation-options {
    width: 100%;
    flex-direction: row;
    gap: 12px;
    font-size: 18px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 300px;
    height: 80px;
  }
  .footer-contacts {
    display: none;
  }
  .footer-fingerprint-container {
    display: none;
  }
  .footer-line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    border: none;
    background-color: rgba(253, 159, 65, 1);
  }
}

@media screen and (max-width: 601px) {
  .footer-animation-wrapper {
    gap: 12px;
  }
  .footer-nav-options .navigation-options {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    height: 175px;
    padding: 10px 8px;
  }
  .footer-animation-wrapper {
    gap: 10px;
  }
  .footer-logo {
    width: 200px;
    height: 60px;
  }
  .footer-nav-options .navigation-options {
    font-size: 14px;
  }
}
