.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1380px;
  font-family: secondary-medium;
  margin: auto;
}

@media screen and (max-width: 1380px) {
  .layout-container {
    width: calc(100% - 60px);
    max-width: 1380px;
    margin: 0 30px;
  }
}

.layout-content {
  margin-top: 75px;
}

.home-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navigation-options a {
  text-decoration: none;
}
