.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1380px;
  font-family: secondary-medium;
  margin: auto;
}

.layout-content {
  margin-top: 75px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 1380px;
  height: 65px;
  margin: auto;
  padding: 0 20px;
  border-radius: 10px;
  border: 0.5px solid rgba(253, 159, 65, 0.8);
  position: fixed;
  top: 10px;
  z-index: 1000;
}

.header-logo {
  width: 150px;
  height: 49px;
}

.header-navigation-options {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header-phone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.header-phone-icon {
  width: 24px;
  height: 24px;
  fill: #fd9f41;
}
.footer-container {
  height: 300px;
  background-color: #151921;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 267px;
  padding: 0 32px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative; /* For absolute positioning of fingerprint */
  width: 1380px; /* Match layout width */
  margin: auto; /* Center footer */
}

.footer-logo {
  width: 300px;
  height: 91px;
  fill: #fff; /* Ensure logo is white */
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 200px;
  flex: 1; /* Take remaining space */
  justify-content: flex-start; /* Align content to the left */
}

.footer-nav-options {
  display: flex;
}

.footer-navigation-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  font-family: secondary-regular, sans-serif;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contacts-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: secondary-bold, sans-serif;
}

.footer-contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-family: secondary-regular, sans-serif;
}

.footer-phone-icon,
.footer-mail-icon,
.footer-facebook-icon,
.footer-instagram-icon {
  fill: #fd9f41; /* Orange icons as per screenshot */
  width: 24px;
  height: 24px;
}

.footer-phone-container,
.footer-mail-container,
.footer-facebook-container,
.footer-instagram-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.footer-phone-container {
  gap: 4px;
}

.fingerprint-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 302px;
  height: 300px;
  overflow: hidden;
}

.footer-fingerprint-icon {
  width: 244px;
  height: 354px;
  transform: scaleY(-1) rotate(-23.7deg);
  position: absolute;
  top: 10px;
  right: -80px;
}

.footer-fingerprint-icon * {
  fill: rgba(238, 192, 51, 0.1) !important;
}
