.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1380px;
  font-family: secondary-medium;
  margin: auto;
}

.layout-content {
  margin-top: 75px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 1380px;
  height: 65px;
  margin: auto;
  padding: 0 20px;
  border-radius: 10px;
  border: 0.5px solid rgba(253, 159, 65, 0.8);
  position: fixed;
  top: 10px;
  z-index: 1000;
}

.header-logo {
  width: 150px;
  height: 49px;
}

.header-nav-options .navigation-options {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-family: secondary-regular;
  font-size: 16px;
}

.header-phone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.header-phone-icon {
  width: 24px;
  height: 24px;
  fill: #fd9f41;
}

.header-phone-container p {
  font-size: 18px;
  font-family: secondary-medium;
}

.footer-container {
  height: 300px;
  background-color: #151921;
  color: #fff;
  padding: 0 32px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
  width: 1380px;
  margin: 30px auto 0 auto;
}

.footer-logo {
  width: 300px;
  height: 91px;
  fill: #fff;
}

.footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-options {
  display: flex;
}

.footer-nav-options .navigation-options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  font-family: secondary-medium;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-contacts-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: secondary-regular;
}

.footer-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts-item {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 16px;
  font-family: secondary-medium;
  align-items: center;
}

.footer-phone-icon,
.footer-mail-icon,
.footer-facebook-icon {
  fill: #fd9f41;
  width: 24px;
  height: 24px;
}

.footer-fingerprint-container {
  position: absolute;
  right: 0px;
  top: 0;
  width: 211px;
  height: 305px;
  overflow: hidden;
}

.footer-fingerprint-icon {
  width: 211px;
  height: 305px;
}

.home-page {
  display: flex;
  flex-direction: column;
}
