.top-news-section {
  padding: 40px 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1380px; /* Синхронізовано з layout-container для десктопу */
  max-width: 100%; /* Запобігає перевищенню ширини в'юпорту */
  margin: 0 auto;
}

.top-news-section-title {
  font-size: 20px;
  font-family: primary-medium;
  line-height: 120%;
  color: rgba(21, 25, 33, 1);
}

.top-news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.top-news-card {
  width: 400px;
  height: 510px;
  background-color: rgba(21, 25, 33, 1);
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  gap: 10px;
  justify-content: space-between;
  position: relative;
}

.top-news-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.top-news-image {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  background-color: #ccc; /* Заглушка для фото */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.top-news-content {
  flex: 1;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top-news-icon {
  text-transform: uppercase;
  display: inline-block;
  font-size: 10px;
  font-family: secondary-regular;
  color: #fd9f41;
  padding: 4px 8px;
  border: 1px solid rgba(253, 159, 65, 1);
  border-radius: 12px;
  width: fit-content;
}

.top-news-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.top-news-title {
  font-size: 20px;
  font-family: primary-medium;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-news-category {
  color: rgba(253, 159, 65, 0.8);
  font-size: 12px;
  font-family: secondary-regular;
}

.top-news-text {
  font-size: 16px;
  font-family: secondary-regular;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.top-news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
}

.top-news-date {
  text-transform: uppercase;
  font-size: 12px;
  font-family: secondary-regular;
  color: rgba(255, 255, 255, 0.4);
}

.top-news-arrow-icon {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  fill: #fd9f41;
}

.general-news-text a {
  text-decoration: none;
  color: #fd9f41;
  transition: all 0.3s ease-in-out;
}

.general-news-text a:hover {
  color: rgba(253, 159, 65, 0.8);
}

/* Адаптація для екранів до 1381px */
@media screen and (max-width: 1381px) {
  .top-news-section {
    width: calc(100% - 60px); /* 100% - 30px з кожного боку */
    width: 100%;
    padding: 30px 0;
    gap: 30px;
  }
  .top-news-container {
    gap: 20px;
  }
  .top-news-card {
    padding: 10px;
    gap: 8px;
  }
  .top-news-image {
    min-height: 180px;
    max-height: 180px;
  }
  .top-news-content {
    padding: 0 10px;
    gap: 10px;
  }
  .top-news-title {
    font-size: 20px;
  }
  .top-news-arrow-icon {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
  }
}

/* Адаптація для екранів до 1200px */
@media screen and (max-width: 1200px) {
  .top-news-section {
    padding: 25px 0;
    gap: 25px;
  }
  .top-news-container {
    gap: 16px;
  }
  .top-news-card {
    width: 360px;
    height: 460px;
    gap: 7px;
  }
  .top-news-image {
    min-height: 170px;
    max-height: 170px;
  }
  .top-news-content {
    padding: 0 9px;
    gap: 9px;
  }
  .top-news-title {
    font-size: 20px;
  }
  .top-news-category {
    font-size: 10px;
  }
  .top-news-text {
    font-size: 14px;
  }
  .top-news-date {
    font-size: 10px;
  }
  .top-news-arrow-icon {
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
  }
}

/* Адаптація для екранів до 1025px */
@media screen and (max-width: 1025px) {
  .top-news-section {
    padding: 20px 0;
    gap: 20px;
  }
  .top-news-section-title {
    font-size: 16px;
  }
  .top-news-container {
    gap: 20px;
    row-gap: 20px;
  }
  .top-news-card {
    width: 300px;
    height: 405px;
    gap: 6px;
  }
  .top-news-image {
    min-height: 160px;
    max-height: 160px;
  }
  .top-news-content {
    padding: 0 8px;
    gap: 8px;
  }
  .top-news-icon {
    font-size: 8px;
    padding: 2px 4px;
  }
  .top-news-header {
    gap: 2px;
  }
  .top-news-title {
    font-size: 18px;
  }
  .top-news-category {
    font-size: 10px;
  }
  .top-news-text {
    font-size: 12px;
  }
  .top-news-date {
    font-size: 10px;
  }
  .top-news-arrow-icon {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .top-news-text {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
